*{
  font-family: 'Reggae One', cursive;
}

body{
 background-image: url(https://media.giphy.com/media/lRR3VWjUMXh3wbuo32/giphy.gif);
 background-size: cover;
 background-repeat: no;
 margin: 0;
 padding: 0;
}

.header-div{
  background-color: black;
  height: 120px;
}

header{
 text-align: right;
 top: 0;
 right: 0;
 justify-content: stretch;
}

nav{
  display: flex;
  flex-flow: row;
  position:relative;
  margin: 0 auto;
  justify-content: center;
  font-size: 15px;
  margin-top: 15px;
  height: 30px;
  width: 100%;
  flex-wrap: nowrap;
}

h4.navcontent{

  color: black;
  display: flex;
  justify-content: space-between;
  margin: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.nav-div{
  width: 100%;
  display: grid;
  grid-row: auto;
  text-align: center;
  justify-content: space-evenly;
  background-color:rgb(93, 93, 93);
}



.title-container{
  display: grid;
  padding: 5px;
  margin: 0px;
  margin-top: 0px;
  width: 100%;
  flex-flow: row;
  justify-content: center;
  color: rgb(249, 141, 0);
  font-size: xx-large;
  background-color: black;

}

#title1{
  margin-bottom: 3px;
  margin-top: 0px;
}

#title2{
 margin-right: 0px;
  text-align: center;
  font-style: italic;
  font-size: 10px;
  font-stretch: ultra-expanded;
  color: rgb(255, 21, 0);
}


.road-rage-container,
.relationships-container,
.hospitality-container{

  margin: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  height: 460px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}

nav a,
.road-rage-container a,
.relationships-container a,
.hospitality-container
a{
text-decoration: none;
}

nav a :hover{
  color: rgb(249, 71, 0);
}


.about{
  background-color:rgb(93, 93, 93);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
text-align: center;
padding: 20px;
  width: 80%;
  display: flex; 

  border: 0px;
 

  flex-flow: column;
  height: 460px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}

.about a{
  text-decoration: none;
}

.details{
  padding: 0;
  color: rgb(117, 0, 0);
  font-size: large;
  text-decoration: none;
}


h6,
h5{
  color: black;
}

ul{
  list-style: none;
}

.section{
 margin-top: 20px;
  text-align: center;
  color: rgb(255, 81, 0);
  
}


.buttons-container{
  display: flex;
  align-content: right;
  justify-content: right;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 10px;
}

button{
  color: red;
  background-color: black;

}


.cancel-submit{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.input-container{
  border: 4px solid black;
margin: 1px;
  text-align: justify;
  padding: 5px;
  background-color: rgb(93, 93, 93);
  color: black;
  width: 90%;
}



.form1,
.form2,
.form3{
 display: flex;
 justify-content: center;
 justify-items: stretch;
 margin-bottom: 10px;
 padding: 0px;
} 

form{
  width: 500px;
  justify-content: stretch;
  background-color: rgba(93, 93, 93, 0.205);
  padding: 10px; 
   align-content: center;
  justify-content: space-evenly;
  text-align: center;
  color: rgb(249, 141, 0);
  border: 3px solid black;
}

textarea,
input{
  width: 300px;
  height: 40px;
  color: gray;
  background-color: black;
}




@media all and (min-width: 480px) and (max-width: 767px){

  body{
    background-color: rgb(117, 0, 0);
    background-image: none;
  }
  nav{
   width: 100%;
  }

  .nav-div{
display: flex;
flex-wrap: wrap;
flex-flow: column;
  }

  .title-container{
    width: 100%;
    font-size: 40px;
    position: inherit;
    top: 0;

  }
  header{
  text-align: left;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
   background-color: none;
  }

  .nav-content{
    width: 100%;
 position: relative;
 background-color: rgba(0, 0, 0, 0);
 font-size: 10px;
  }

  .input-container{
    width: 100%;
  }
}

@media all and (max-width: 479px) {
  body{
    background-image: url(https://media.giphy.com/media/l41lVUCbHnMswK0ec/giphy.gif);
    font-size: 10px;
  }
}
